body {
    background-image: url(/Asset/images/containers.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    margin: 0%;
    padding: 0%;
}

#container1 {
    display: flex;
}

#subcont1 {
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
}

.para2>a {
    text-decoration: none
}

#childsubcont {
    margin-left: 70px;
}

.but1,
#but-in-1 {
    position: absolute;
}

.grandsubcontul,
#but-in-1ul {
    position: absolute;
    margin-top: 10px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.para2:hover {
    background-color: lawngreen;
}

.para2 {
    border: 1px solid black;
    background-color: saddlebrown;
    height: 20px;
}

nav {
    background-color: black;
}

form>div {
    margin: 10px;
}

#sect1>h1 {
    text-align: center;
    color: peru;
    font-size: 40px
}

#container7 {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

#sect4 {
    display: flex;
    margin-top: 30px;
}

#sect5 {
    display: inline-flex;
    border: 1px solid blue;
    background-color: blue;
    margin-top: 50px;
}

#sect5>div {
    padding: 40px;
}

nav>div>p>span {
    color: blue;
}