body {
    background-image: url(/Asset/images/containers.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    margin: 0%;
    padding: 0%;
}

#container1 {
    display: flex;
}

#subcont1 {
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
}

.para2>a {
    text-decoration: none
}

#childsubcont {
    margin-left: 70px;
}